*{
    background-color: #f9f9f9;
    text-overflow: ellipsis;
    font-size: 20px;
}
.fixture_head{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}
 h4{
    margin-left: 19px;
}
.fixture_sub1{
    background-color: #ffffff;
    width: 425px;
    height: 100px;
    line-height: 30px;
    border-radius: 7px;
    margin-left: 10px;
    padding-left: 10px;
}
.fixture_sub1 span{
    font-size: 15px;
    text-align: center;
    margin-left: 170px;
}
@media only screen and (max-width: 600px){
    *{
        font-size: 15px;
    }
    .fixture_head{
        display: grid;
        gap: 15px;
    }
}