@media screen and (min-width:360px) and (max-width:640px) {
    body {
        background-image: url("../content/logo.jpg");
        height: 100vh;
        background-position: auto;
        background-repeat: no-repeat;
        background-size: 100% 500px;
        position: static;
    }

    #chancellor img {
        height: 110px;
        width: 110px;
        margin-top: 7px;
        margin-left: 5%;
        background: transparent;
        border-radius: 75px;
    }

    #icons {
        margin-left: 85%;
        margin-top: -95px;}

        body {
            background-image: url(bagr.jpg);
            /* background-color: #cccccc; */
            height: 600px;
            background-position: auto;
            /* background-position:center; */
            background-repeat: no-repeat;
            background-size: 100%;
            position: relative;
        }

        #chancellor img {
            height: 150px;
            width: 150px;
            margin-top: 2px;
            margin-left: 5%;
            background: transparent;
            border-radius: 95px;
        }

        #nav ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            /* color: antiquewhite; */
            font-size: x-large;
            padding-top: 15px;
        }

        #nav {
            text-align: center;
            margin: 8%;
            margin-top: 2%;
            background: rgb(48, 48, 50);
            /* box-shadow: 0 0 20px 9px rgb(48, 48, 50); */
            height: 65px;
        }

        button {
            border-style: none;
            background: transparent;
            font-size: x-large;
            color: rgb(244, 244, 244);

        }

        button:hover {
            background-color: rgb(51, 51, 52);
            font-size: xx-large;


        }

        #content .class {}

        #icons button {
            border: none;
            font-size: 20px;
            background: transparent;
        }

        #icons button:hover {
            background: rgb(243, 239, 239);

        }

        #nav ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            /* color: antiquewhite; */
            font-size: 23px;
            padding-top: 11px;
        }

        #nav {
            text-align: center;
            margin: 6%;
            margin-top: 26%;
            background: rgb(48, 48, 50);
            /* box-shadow: 0 0 20px 9px rgb(48, 48, 50); */
        }

        #nav button {
            border-style: none;
            background: transparent;
            font-size: large;
            color: rgb(244, 244, 244);

        }

        #nav button:hover {
            background-color: rgb(51, 51, 52);
            font-size: x-large;


        }

        #content .class {

            margin-left: 980px;
            color: antiquewhite;
            background: white;
        }

        #content .data {
            margin-top: 30%;
            padding: 1px;
            width: 100px;
            height: 65px;
            font-size: 8px;
            justify-content: center;
            background: rgb(209, 198, 209);
            position: relative;
            animation: mymove 5s infinite;
        }

        @keyframes mymove {
            from {
                left: 0px;
            }

            to {
                left: 100px;
            }
        }
    }

@media screen and (min-width:640px) {
    body {
        background-image: url("../content/bagr.jpg");
        height: 600px;
        background-position: auto;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
    }

    #chancellor img {
        height: 150px;
        width: 150px;
        margin-top: 2px;
        margin-left: 5%;
        background: transparent;
        border-radius: 95px;
    }

    #icons {
        margin-left: 85%;
        margin-top: -95px;

    }

    #icons button {
        border: none;
        background: transparent;
        font-size: 30px;

    }

    #icons button:hover {
        background: rgb(169, 167, 167);

    }

    #nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: x-large;
        padding-top: 15px;
    }

    #nav {
        text-align: center;
        margin: 8%;
        margin-top: 6%;
        background: rgb(48, 48, 50);
        height: 65px;
    }

    #nav button {
        border-style: none;
        background: transparent;
        font-size: x-large;
        color: rgb(244, 244, 244);

    }

    #nav button:hover {
        background-color: rgb(51, 51, 52);
        font-size: xx-large;


    }

    #content .class {

        margin-left: 980px;

        color: antiquewhite;
        background: white;
    }

    #content .data {
        margin-top: 25%;
        width: 250px;
        background: rgb(200, 183, 212);
        position: relative;
        animation: mymove 5s infinite;
    }

    @keyframes mymove {
        from {
            left: 0px;
        }

        to {
            left: 300px;
        }
    }

}